################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

# Visual Studio / C#
.vs/
bin/
obj/
*.user
*.suo
*.db
*.csproj.user