@{
    ViewData["Title"] = "Bienvenido a Magic Library";
}

<div class="hero-section">
    <h1 class="hero-title">Magic Library</h1>
    <p class="hero-subtitle">Tu diario personal de lecturas.</p>
    
    <div class="hero-content">
        <p>

         </p>
    </div>

    <div class="hero-actions">
        <a asp-controller="Book" asp-action="Index" class="btn-agregar-libro">Ir a Mis Libros</a>
        <a asp-controller="Goal" asp-action="Index" class="btn-agregar-libro">Ir a metas</a>
        <a asp-controller="Recommendation" asp-action="Index" class="btn-agregar-libro">Ir a recomendaciones Libros</a>
    </div>
</div>