@model MagicLibrary.Domain.Models.User
@{
    ViewData["Title"] = "Registrarse";
    Layout = null;
    <link rel="stylesheet" href="~/css/site.css" />
}


<div class="formulario-registro">
    <h1>Registrarse</h1>
    <form asp-controller="User" asp-action="Registrar" method="post">
        <div class="grupo-input">
            <label>Nombre</label>
            <input asp-for="Nombre" />
        </div>
        <div class="grupo-input">
            <label>Correo</label>
            <input asp-for="Correo" />
        </div>
        <div class="grupo-input">
            <label>Contraseña</label>
            <input asp-for="Contrasena" type="password" />
        </div>
        <hr />
        <button type="submit" class="btn-guardar">Registrar</button>
    </form>
    <hr />
    <a asp-controller="Home" asp-action="PrincipalInicio" class="link-cancelar">&larr; Cancelar</a>
</div>