@model MagicLibraryMVC.Models.Book

<div class="contenedos-formulario">
    <h1>Agregar álbum</h1>
    <form asp-action="Agregar" method="post" enctype="multipart/form-data">
        <div class="grupo-input">
            <label>Titulo</label>
            <input asp-for="Titulo" />
        </div>
        <div class="grupo-input">
            <label>Autor</label>
            <input asp-for="Autor" />
        </div>
        <div class="grupo-input">
            <label>Numero de paginas</label>
            <input asp-for="Paginas" type="number" />
        </div>
        <div class="grupo-input">
            <label>Fecha inicio</label>
            <input asp-for="FechaInicio" type="time" />
        </div>
        <div class="grupo-input">
            <label>Estado de lectura</label>
            <input asp-for="Estado" />
        </div>
        <div class="grupo-input">
            <label>Fecha de finalización</label>
            <input asp-for="FechaTerminado" type="time" />
        </div>
        <hr />
            <button type="submit" class="btn-guardar">Guardar álbum</button>

        </form>

        <hr />
        <a asp-action="Index" class="link-cancelar">&larr; Cancelar</a>

    </div>